@media (width < 700px) {
    .menu-logo {
        visibility: visible;
        padding: 0;
    }

    #slide-bar {
        background-color: black;
        width: 100%;
    }

    #slide-bar .navbar {
        height:100%;
        width: 0;
        display: inline;
    }

    #slide-bar .navlist li {
        visibility: visible;
    }


    body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    .hero {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .title-box {
        width: 100%;
        text-align: center;
    }

    .title-box img {
        position: relative;
        right: 10rem;
        bottom: 5rem;
        }

    .title-box h1 {
        padding: 10px;
        border-radius: 0;
        text-align: left;
    }

    .title-box h1 > .horizon {
        font-size: 6rem;
    }

    .seva-box {
        width: 100%;
    }

    .card {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .seva-heading {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding: 0px;
    }

    .card img {
        width: 90%;
        margin: 20px;
    }

    .card-text {
        width: 100%;
        padding: 10px;
    }
    .card-text p {
        padding: 10px;
    } 

    .my-packages {
        height: 1100px;
    }
     
    .my-packages>.package-heading {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .package-heading h3 {
        margin: 0px;
        text-shadow: 5px 5px black;
    }

    .packages-container {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }

    .package {
        height: auto;
        width: 50%;
    }

    .package img {
        height: 75%;
    }

    .package .pricing {
        margin: 10px;
    }

    .contact-box {
        height: 200px;
        width: 100%;
    }

    .contact-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .contact-list li {
        margin: 25px;
    }
    
    footer {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

}
